.posts {
  list-style: none;
  padding: 0;
  margin: 40px 0;

  li a {
    border-top: 1px solid $colour-brown;
    padding: 10px 20px;
    background-color: $colour-off-white;
    display: block;
    transition: background 200ms ease;

    &:hover {
      background-color: darken($colour-off-white, 20%)
    }
  }

  .post-date {
    opacity: 0.3;
  }
}
