$page-width: 920px;

.page-content {
  padding: 10px;
}

.page-center {
  width: $page-width;
  margin: 0 auto;
}

@media only screen and (max-width: $page-width) {
  .page-center {
    width: auto;
  }
}
